body {
  background-color: #e9edf4;
}

.bg-bitwarden {
  background-color: #175ddc;
}

.fs-14px {
  font-size: 14px;
}

.fs-13px {
  font-size: 13px;
}

.reg-title {
  margin-bottom: -20px;
}

.reg-note {
  margin-top: -25px;
}

.ms-navbar-left {
  margin-left: 210px;
}
